<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>958390438319-oh7mrdnrt2kdmtdsq3kc5bbmts7vpfnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958390438319-oh7mrdnrt2kdmtdsq3kc5bbmts7vpfnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAjriguq6EXUkDP9TzouBhEYF2OfOGDvLw</string>
	<key>GCM_SENDER_ID</key>
	<string>958390438319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heed.Forecast</string>
	<key>PROJECT_ID</key>
	<string>forecast-25a11</string>
	<key>STORAGE_BUCKET</key>
	<string>forecast-25a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958390438319:ios:06459a154e631ff3</string>
	<key>DATABASE_URL</key>
	<string>https://forecast-25a11.firebaseio.com</string>
</dict>
</plist>